python-dotenv
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-experimental
unstructured[all-docs]
pillow
htmltabletomd
ipython
redis
#pdf2image
#pytesseract
#poppler-utils
chromadb #This is just for a test. Needed to check/validate the data loaded in ChromaDB
filetype